<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Hey Forastero</h1>
      <p>
        ¿Quieres crear una cuenta para acceder a esta increíble aplicación? Adelante
        ¡y haz clic en el botón de abajo!
      </p>
      <button mat-button routerLink="/register">Registrate</button>
    </div>
    <div class="form-container">
      <h1>Bienvenido a Optinen!</h1>
      <button class="mat-raised-button" (click)="loginWithGoogle()">
        Accede con google
      </button>
      <h5>O accede con tu correo</h5>
      <ngbytes-login-form (formData)="login($event)"></ngbytes-login-form>
    </div>
  </div>
</div>


