<div class="background">
    <div class="login-container">
      <div class="form-container">
        <h1>Bienvenido a Optinen!</h1>
        <h5>Registrate con tu correo</h5>
        <ngbytes-login-form (formData)="register($event)"></ngbytes-login-form>
      </div>
      <div class="text-container">
        <h1>Que pasa Bro</h1>
        <p>
          ¿Ya tienes una cuenta impresionante? Adelante, haz clic en el botón de abajo para
          ¡iniciar sesión!
        </p>
        <button mat-button routerLink="/login">Inicia session</button>
      </div>
    </div>
  </div>