<br><br>
<div class="dOcr">
  <h1>OCR</h1>
    <app-render-img></app-render-img>
    <h2 *ngIf="rec" id="out">RESULTADO</h2>
        
    <div class="rec" *ngIf="rec">
      <mat-progress-bar mode="indeterminate" max="1" value="{{prog}}" *ngIf="bar"></mat-progress-bar><br>
      <p>{{ ocrResult }}</p>

      <button class="button-54" role="button" *ngIf="copy" (click)="copyText()" aria-label="Copy" matTooltip="Copy">
        <i class="fa-regular fa-copy fa-2xl"></i>
      </button>
      
    </div>
  </div>
